[2019-07-31 15:46] g-pearl opened #1 "Not returning all devices / reports"
I am working with the powershell scripts and it appears that I am not getting all the devices when I run the script it only shows 50 devices but I have 94.  Is this a settings that I need to change in the script or appliance.  I also see this on the reports there are 22 builtin report but when I get the list of reports it only shows 20.

[2019-08-01 05:42] RaajeevKalyan commented on #1
The default return data is limited to 50 for devices and 20 for reports. I have made modifications in the scripts to handle this - Please pull the latest commits and see if it fixes the issue

[2019-08-01 16:01] g-pearl commented on #1
This is working on the devices and reports but when use the invoke-reportexecution command it only return 100 items.  Does a similar setting for the report output exist.  Sorry to hit you with the onesie-twosie questions it is just that the warranty report is the report that I want to run and I did not know the ID until the previous update.

Thanks

[2019-08-01 16:23] RaajeevKalyan commented on #1
The default page sizes are different across different endpoints - the scripts seem to be missing handling this in a consistent manner. I'll close out this current issue and track the changes against an umbrella issue. For now would fixing the Invoke-ReportExecution get you unblocked?

[2019-08-01 16:24] g-pearl commented on #1
Yes that would unblock me.

[2019-08-01 21:25] RaajeevKalyan commented on #1
I have made some changes to the Report listing and execution scripts that should work consistently for the default page sizes returned in the internal APIs. Please try them out and let me know if that works for you

[2019-08-01 21:32] g-pearl commented on #1
When I tried to run .\Invoke-ReportExecution.ps1 -IpAddress <IP> -Credentials $cred -ReportId 94632

I get

Polling report status ...
D:\Data\Desktop\Dell OMEnt\Invoke-ReportExecution.ps1 : Exception occured - Cannot convert value "?$skip=100&$top=147"
to type "System.Int32". Error: "Input string was not in a correct format."
At line:1 char:1

Thanks  I will look at the other commands as well.

[2019-08-02 04:06] RaajeevKalyan commented on #1
I've fixed and tested the fix out now on a report spanning way more than 100 returned rows in the result.

[2019-08-02 19:15] g-pearl commented on #1
Thanks  - The invoke-reportexecution.ps1 works for the warranty.  I will work on review the other files as well.  I will close the the case at this point.

[2019-08-02 19:15] #1 closed

[2019-08-27 15:09] Bruniche opened #2 "Authentification process"
Hello,

I came here for a specific question about the url for SessionService to having a token.

In all your scripts, you use : **/api/SessionService/Sessions**
with Username & Password as payload.

Personnaly, in the first API guide about OME, the url recommended was :
**/redfish/v1/SessionService/Sessions/Members**
with Username // Password as payload.

Now, if we query GET en /redfish/v1 the ne

[2019-08-27 18:37] henriquebrisola opened #3 "How to logout a session?"
Hello,
I am working on a project that reads the Dell OME multiple times and each time it authenticates again and creates a new Auth Token Id. However the maximum number of active sessions per user is 100.
Can someone let me know how would I log out a session?

Error message:
`{"MessageId":"CURS1209", "Message":"Unable to create a new session because the maximum number of sessions for this user has

[2019-08-27 21:13] #3 closed, assigned to nobody

[2019-09-18 15:26] justinrush opened #4 "errors in OpenManage-Enterprise/Scripts/Python/update_firmware_using_catalog.py"
inconsistent usage of tabs and spaces... had to
[code]

[2019-09-18 15:30] justinrush opened #5 "update_firmware_using_catalog.py is not python3 compliance"
line 367 does this:
[code]
this will throw a TypeError: the JSON object must be str, not 'bytes'

you need to either do:
[code]
or just leverage the .json property of the requests object
[code]

I'm sure there are other things, but i stopped looking when I found that python2 just works.

[2019-09-19 04:41] RaajeevKalyan commented on #2
The /redfish/v1/SessionService/Sessions/Members is not in line with Redfish spec. In newer versions of OME the POST on /redfish/v1/SessionService/Sessions should be fixed. I'll confirm the release that the fix is in and edit this comment

[2020-01-08 05:05] jzcmyz opened #6 "get-devicelist.ps1 line 78... backticks are removed after interpolation"
$DeviceCountUrl   = "https://$($IpAddress)/api/DeviceService/Devices?`$count=true&`$top=0"

should look something like

$DeviceCountUrl   = "https://$($IpAddress)/api/DeviceService/Devices?`" + '`$count=true&`$top=0'

Line 78 does not copy and paste very well here

[2020-01-13 17:53] RaajeevKalyan commented on #5
This should have been fixed via recent updates - could you please recheck if something doesn't work in your environment

[2020-01-13 17:54] RaajeevKalyan commented on #4
This should have been fixed by recent updates - could you please recheck in your environment

[2020-01-13 17:55] RaajeevKalyan commented on #2
Issue should be addressed by OME 3.3.1

[2020-01-13 17:55] #2 closed

[2020-01-14 16:47] vittalreddy commented on #6
Fixed the issue and pushed the changes to master after testing in my environment.

[2020-01-29 17:21] #6 closed

[2020-01-29 17:21] #5 closed

[2020-01-29 17:21] #4 closed

[2020-03-09 19:59] RaajeevKalyan opened #9 "Update-FirmwareUsingCatalog.ps1 throws an exception on some systems"
Update-FirmwareUsingCatalog.ps1 throws an exception on systems that are compliant and do not have a navigation link to a detailed compliance report -

[2020-03-09 22:02] RaajeevKalyan commented on #9
Fixed by latest commit -

The baseline didn't set a flag properly causing no compliance reports / navigation links to be returned .. an invalid handling of this code led to sending a request to the IP of the appliance instead of a valid endpoint and the result was not valid json causing an exception when parsed

Tested on a system without compliance issues / one with compliance issues / and a comb

[2020-03-09 22:02] #9 closed

[2020-03-30 20:09] RaajeevKalyan opened #10 "Running existing reports fails to return all data"
External customer reported issue: see screenshot
<img width="1608" alt="report_fail" src="https://user-images.githubusercontent.com/43422279/77957002-6dbe3980-7298-11ea-81f3-4b86af21b77e.png">

[2020-03-31 05:09] RaajeevKalyan commented on #10
Per spec we use the @odata.nextLink property for pagination - this returns the /api/<remainder of url> which is appended to the base URL (already containing /ip/api) - this invalid URL fails subsequent GET calls - the second part of the issue is that on a failure of the nextlink retrieval we should exit the while-loop by setting the url to None - both issues are fixed by recent commit

[2020-03-31 05:09] #10 closed

[2020-04-01 21:48] vittalreddy opened #11 "Exit while loop in case of failure of the nextlink results retrieval"
Currently, Python scripts continues to retrieve the nextlink url in case of failure of the nextlink url invocation which leads to incorrect results as next_link_url always points to previously set value. We should exit the loop by setting the next_link_url value to None in case of failure GET status code.

[2020-04-03 21:03] #11 closed

[2020-04-12 21:45] mprreddy51 opened #12 "run_existing_report.py script generating duplicate device names"
I schedule a custom report with below fields in OME and ran custom csv report.

From  the CSV report I filtered out only Component Name =  "PowerEdge Server BIOS" . I observed there are some duplicates Entries showing in CSV in the  "Device Name" Column and  Total Device count shows correct number.

Device Name ,Device Identifier,Device Type,Device Model,Component Name,Current Version ,Available V

[2020-04-23 14:28] markatdxb opened #13 "discover_device.py - multiply discovery groups"
hello, thanks for providing all these scripts, they are really super helpful for our automation processes.
one thing i wanted to ask as im not that proficient in python.
would be possible in the discover_device.py  to add check whether the discovery group already exists - and if yes then modify existing discovery group instead of creating duplicate ? Thanks

[2020-04-23 15:18] RaajeevKalyan commented on #13
Dell Customer Communication - Confidential

There should be a script that takes in a job pattern and tries to modify it / re-run it - could you check if modify_discovery_job.py in the same repo does what you need

Raajeev

From: markatdxb <notifications@github.com>
Sent: Thursday, April 23, 2020 9:28 AM
To: dell/OpenManage-Enterprise
Cc: Subscribed
Subject: [dell/OpenManage-Enterprise] discover_de

[2020-04-24 07:53] markatdxb commented on #13
Thanks for feedback. I was looking that the modify discovery script just I'm not clear if that script just modify existing discovery groups or also create new ones of no group exists.

[2020-05-27 14:25] RaajeevKalyan opened #15 "Improvements to firmware update script"
1.	Modify the script to take in one more mutually exclusive argument – a list of service tags (need to find device ids for these internally before updating firmware)
2.	Modify the script to take in a parameter indicating the type of operation – default to “upgrade” – choices will be “upgrade” , “downgrade”, “flash all”
3.	Add a switch param to decide whether to delete the baselines / catalogs – so

[2020-05-27 14:52] RaajeevKalyan opened #16 "Allow export to CSV from Get-DeviceList.ps1 script"
Bring up Get-DeviceList.ps1 to parity with python equivalent to output to json/csv and specify filename for output as required

[2020-05-27 15:05] RaajeevKalyan opened #17 "Publish workflow documentation for script use cases"
Explanation of script use case with embedded code samples - similar to readthedocs/github pages type info

[2020-05-29 07:12] jzcmyz opened #18 "Get-DeviceList.ps1 only returns 100 hosts"
When i run get-devicelist.ps1 it creates $DeviceData that only has 100 entries.

I think 100 is the default number of records to return.

We have more the 100 hosts.

![image](https://user-images.githubusercontent.com/3168688/83231685-3d7b1480-a1cf-11ea-9adc-8a64f3569828.png)

[2020-06-05 21:34] RaajeevKalyan commented on #18
50 may be the default - sounds like a possible bug in pagination logic - do you have between 100 and 150 devices?

[2020-06-06 06:33] xujiepeng commented on #18
50 is default num in each url api request. So I modify the get_device_list() function.
I have 230 devices, it works.

    def __get_device_list(self):
        base_link_url = self.__base_uri + '/api/DeviceService/Devices'
        self.json_data = {}

        data = self.__get_device_from_uri(base_link_url)
        total = 0
        if data['@odata.count'] <= 0:
            print("No devices manage

[2020-06-08 13:48] markatdxb opened #21 "update_firmware_using_catalog.py compatible with OME Ent ?"
Hello,
just tested the script against our OME Enterprise and getting following error.
Script actually creates new Catalog calles Test:Date:Time but after it crash.

Creating new catalog.!
Traceback (most recent call last):
  File "update_firmware_using_catalog.py", line 656, in <module>
    CATALOG_ID = catalog_creation(ip_address=IP_ADDRESS, headers=HEADERS)
  File "update_firmware_using_catalog.

[2020-06-19 05:44] RaajeevKalyan commented on #21
There have been significant changes in this script due to added functionality - could you retry with the latest version and update if you are still seeing issues

[2020-07-16 05:59] RaajeevKalyan opened #23 "Modify run_existing_report.py to dump csv output to a filename"
Add new optional param for filename and dump to file if specified / default to output to screen

[2020-07-16 06:01] RaajeevKalyan opened #24 "Modify Invoke-ReportExecution.ps1 to dump output in csv format"
Default to output in csv for parity with Python script
Add optional parameter for filename (csv) and dump to file
For the Powershell code current output is to a table - that can be an optional parameter for output format (default being csv) - filename can be ignored if user chooses output format of "table" and still provides a csv filename

[2020-07-16 16:34] markatdxb commented on #21
hi i just tested the latest version from github and im really confused if there is anything im doing wrong as i still cant make it running.  my environment is CentOS 8 with Pyhton 3 version 3.6.8

i have a device in OME Ent - https://ome02/core/console/console.html#/core/device/device/device_portal?id=78412&tab=summary

i run the following syntax:
 python3 update_firmware_using_catalog.py --ip 10.

[2020-07-16 16:37] RaajeevKalyan commented on #21
Can you run the device enumeration script (get_device_list.py) and provide the output - what does device id of 78412 map to?

[2020-07-16 17:07] markatdxb commented on #21
i just ran the script - 78412 map to correct device with id 78412. but there is another "ManagementId": 61979, - is this the one need to put to fw upgrade script ?

[2020-07-16 17:20] RaajeevKalyan commented on #21
Just the deviceID is sufficient - the management ID is usually under the DeviceManagement blob if i am not mistaken and is not required for this operation - I assume 78412 shows up like below - is the Type 1000?

 "value": [
        {
            "@odata.type": "#DeviceService.Device",
            "@odata.id": "/api/DeviceService/Devices(10110)",
            "Id": 10110,
            "Type": 1000,

[2020-07-16 18:28] RaajeevKalyan commented on #21
Sorry - there is an issue with the script - I expect you have more than 50 devices and it looks like some recent changes didn't take into account pagination. My deduction is that your device ID isn't returned in the first page of results which is all that is parsed now and hence the script is failing to get it to work

For now you could add that device to a new static group and provide the group i

[2020-07-16 22:41] RaajeevKalyan commented on #21
I've pushed an untested snippet to help get past the issue temporarily if the group creation and usage isn't an option - Will update the script further to handle pagination across catalogs and groups and test out across more devices

[2020-07-17 01:54] markatdxb commented on #21
yes thats right - we have close to 1000 devices. i ran into pagination issue before when using API calls to OME as well -  good catch

[2020-07-17 01:59] markatdxb commented on #21
just tested with the latest code you released - got the following error
Traceback (most recent call last):
  File "update_firmware_using_catalog.py", line 639, in <module>
    mapping = get_device_list(IP_ADDRESS, HEADERS)
  File "update_firmware_using_catalog.py", line 87, in get_device_list
    data = get_device_from_uri(next_link_url, headers)
  File "update_firmware_using_catalog.py", line 71,

[2020-07-17 03:41] RaajeevKalyan commented on #21
I fixed that issue and pushed a new commit in - could you try with that please

[2020-07-17 04:47] markatdxb commented on #21
bug seems to be fixed - no similar error.
now i get different error related to the fact that we already have Catalog based on Dell online repository.
Is there any way to specify this existing Catalog in the script parameters ? I found option Catalogpath but not sure thats the right option

--repotype {DELL_ONLINE,NFS,CIFS}
    [--catalogpath CATALOGPATH]
     [--force FORCE]

Creating new catalog.

[2020-07-17 04:51] RaajeevKalyan commented on #21
You can use the --force  flag - this should clean out the old catalog that was already created by pointing to dell and will create a new catalog with the latest content from dell to be used for this operation

[2020-07-17 05:59] markatdxb commented on #21
tried that - getting error that baseline associated with catalog cant be deleted

Traceback (most recent call last):
  File "update_firmware_using_catalog.py", line 659, in <module>
    delete_online_catalog(IP_ADDRESS, HEADERS)
  File "update_firmware_using_catalog.py", line 547, in delete_online_catalog
    delete_baseline(ip_address, headers, target_baseline_ids)
  File "update_firmware_using_c

[2020-07-17 06:10] markatdxb commented on #21
actually it would be great if script checks for existing Online catalog and use that instead of creating new one.  we dont really want to delete the existing catalog as its used by our team to manually upgrade devices as well

[2020-07-17 23:10] RaajeevKalyan commented on #21
A catalog that is managed by OME does not automatically refresh it's contents (even a catalog pointing to Dell) - we can look into enhancing the script to refresh the catalog if it exists already and utilize that. I'll look into that enhancement

For your error do you have multiple baselines associated with this catalog - in the UI do you see some of them removed / anything different about the one

[2020-07-29 04:48] #16 closed

[2020-07-29 04:48] #23 closed

[2020-08-06 21:25] RaajeevKalyan opened #30 "Python get_group_list.py script does not support pagination"
Will only enumerate the first set of groups limited by page size - should be modified to support pagination

[2020-08-10 16:59] grantcurell commented on #30
I had to do this anyway for my code so I submitted a pull request.

[2020-08-10 20:07] grantcurell opened #32 "GroupService has no RemoveMemberDevices method?"
From [page 297 of the API guide](https://topics-cdn.dell.com/pdf/dell-openmanage-enterprise_api-guide5_en-us.pdf) I see a way to add member devices to a static group, but I don't see a way to remove them.

Is that by design or is there a way to do that?

I also don't see a way to delete a group that already exists.

Edit: What I ultimately want to be able to do is move servers between groups.

[2020-08-10 20:21] RaajeevKalyan commented on #32
This is not functionality common to both consoles (OME and OME-M) - these APIs are documented in the GroupService actions specific to OME (pages 535 and later)

POST on /api/GroupService/Actions/
GroupService.RemoveMemberDevices should remove devices from groups

POST on /api/GroupService/Actions/GroupService.DeleteGroup should delete the created groups

[2020-08-11 06:04] RaajeevKalyan opened #34 "Need Powershell version of add_device_to_static_group.py"
For parity we need a Powershell version of the referenced Python script

[2020-08-11 06:05] RaajeevKalyan opened #35 "Need Powershell version of query group management python script"
For parity a powershell version of the referenced script is needed

[2020-08-11 06:06] RaajeevKalyan commented on #32
I'll close this as it looks like this is a non-issue - let me know if you disagree / this needs to be revisited

[2020-08-11 06:06] #32 closed

[2020-08-11 13:58] #30 closed

[2020-08-11 14:01] RaajeevKalyan opened #36 "Need Python version of script to set scalevlanprofile property of fabrics"
Parity with Set-ScaleVlanProfile.ps1 customer facing script

[2020-08-12 10:46] prasadrao-dell commented on #12
Checked with the BIOS report as well as with Alert reports. The duplicate entries are coming from the OME backend and needs to be fixed there. The fix is not applicable to these scripts.

[2020-08-12 10:46] #12 closed

[2020-08-13 19:47] #18 closed

[2020-08-20 19:21] RaajeevKalyan commented on #15
Fixed by prior PRs

[2020-08-20 19:21] #15 closed

[2020-09-01 15:52] RaajeevKalyan opened #44 "Need Python script to run an inventory job on select devices / all devices within a group"
POST on JobService/Jobs with below sample payload tuned to specific devices

{
  "Id": 0,
  "JobName": "Inventory job for foo devices ",
  "JobDescription": "Inventory job for foo devices",
  "Schedule": "startnow",
  "State": "Enabled",
  "JobType": {
    "Name": "Inventory_Task"
  },
  "Targets": [
    {
      "Id": <device_id>,
      "Data": "",
      "TargetType": {
        "Id": 1000,

[2020-09-01 15:53] RaajeevKalyan opened #45 "Need Powershell script to run inventory on selected devices / all devices within a group"
POST on JobService/Jobs with sample payload below tuned to specific devices

{
  "Id": 0,
  "JobName": "Inventory job for foo devices ",
  "JobDescription": "Inventory job for foo devices",
  "Schedule": "startnow",
  "State": "Enabled",
  "JobType": {
    "Name": "Inventory_Task"
  },
  "Targets": [
    {
      "Id": <device_id>,
      "Data": "",
      "TargetType": {
        "Id": 1000,

[2020-09-16 03:13] ChrisSteinbeisser opened #46 "get_device_list.py - line 205 has hard coded IP versus variable"
LIne 205 -> pool = urllib3.HTTPSConnectionPool('100.96.20.174'.... shouldn't that be ARGS.ip versus that 100.96.20.174 address... :>)

[2020-09-16 03:24] ChrisSteinbeisser opened #47 "Need powershell Get-OMEntUser.ps1, New-OMEntUser.ps1 example scripts"
Raajeev Kalyanaraman ... I used your Get-DeviceList and New-StaticGroup scripts to create some examples for Getting users and creating users in OpenManage.  Working on setting up Github but attached are the examples that I am looking for... hope it's ok I put myself as author.  Let me know if you want me to credit you as well.

[New-OMEntUser.ps1.txt](https://github.com/dell/OpenManage-Enterprise/

[2020-09-16 11:27] prasadrao-dell commented on #13
@markatdxb
1. discover_device.py
- always creates a new discovery job and run the job on the IPs that were provided as input.
2. modify_discovery_job.py
- Allows to input a job name that can be modified to include the additional IPs(also input) and runs them.

Therefore it appears that your need to satisfied through the 2nd script.
If not, please provide some more information regarding your use ca

[2020-09-18 14:53] vmallemp opened #48 "Need script for getting the virtual appliance settings."
Request was to save the current settings of the appliance and have the ability to change/modify them.

[2020-09-18 15:17] vmallemp opened #49 "Need a script to discover and add a server to a certain group"
There is a script **add_device_to_static.py** which adds an already discovered server to a group. Can this script be enhanced so that the server is discovered and then added to a group. Also the script should have an option to delete a server from a group.

[2020-09-18 15:41] vmallemp opened #50 "Script to filter alert logs by type of logs."
Can the script **get_alerts_by_group.py** be enhanced to filter alert logs by type of logs (ex - hardware logs etc)?

[2020-09-18 15:47] vmallemp opened #51 "Need a script for reading and replicating VLANs"
Need a script to do the following:

1.	Read the vlans available on a source chassis using REST APIs [Source chassis ip, username, password, https port must be provided by the user]
2.	Replicate the vlans on a number of target chassis using REST APIs [Target chassis ip, username, password, https port must be provided by the user]
3.	If the target chassis already has vlan that overlaps with the sour

[2020-09-18 16:47] vmallemp opened #52 "Need a script to create a group based on IP addresses"
Customer wants to create query groups based on site IP addresses or subnet. Should have the option to move servers from one group to another.

[2020-09-18 17:08] vmallemp opened #53 "Get the list of available firmware baselines for a host"
Customer wants to list available baselines for a host in OME with APIs. Wants to achieve the same functionality as available in the UI on the firmware tab of a host:

[Customer request.docx](https://github.com/dell/OpenManage-Enterprise/files/5247041/Customer.request.docx)

[2020-09-18 17:42] vmallemp opened #54 "Need a script to get audit logs and purge them weekly"
Ability to create a job that will get all the audit logs and then purge them to a a remote file share once a week as part of security requirements.

[2020-09-22 10:49] prasadrao-dell commented on #13
Beleive the user concern is addressed via the modify_discovery_job.py script.
Request to reopen the issue in case of any new inputs.

[2020-09-22 10:49] #13 closed

[2020-09-22 11:01] #24 closed

[2020-09-22 11:01] #46 closed

[2020-09-23 01:40] RaajeevKalyan commented on #47
Chris - could you please submit these in a Pull Request so we can go over and merge. In addition would it be possible to add in a Python version of these scripts too?

[2020-09-23 02:23] RaajeevKalyan opened #55 "Python script to set power state on multiple devices / group ID and dump final result in a table or csv"
See title - modification of set_power_state.py to work across multiple targets

[2020-09-23 02:24] RaajeevKalyan opened #56 "PowerShell script to set power state on multiple devices / group ID and dump final result in a table or csv"
See title - modification of Set-PowerState.py to work across multiple targets and format output

[2020-09-24 14:34] #44 closed

[2020-10-01 20:19] ChrisSteinbeisser commented on #47
Yes… sorry was out on vacation last week but back yesterday.  I’ll try to work up the Python ones and work with Trevor Squillario(OSE peer of mine) on doing a pull request… Trevor also recommended a couple good tweaks that I want to do… but yes… definitely planning on putting those out there the right way in the next week or so.

Thanks,

Chris Steinbeisser
Principal Engineer, Product Technologist

[2020-10-08 02:28] markatdxb opened #58 "Need a script to initiate Configuration Inventory"
Hello, im looking for a script which would kick off collection of Configuration data from single or multiple iDRACs
Currently as far as im aware there is only schedule job in OME which performs the collection on daily basis, but as for our automation approach i would like the ability to start the process via REST or script for single iDRAC
thx

[2020-10-27 11:18] grantcurell commented on #48
Were there specific settings for this they were looking for? Is this referring to the entire configuration of OME?

[2020-10-27 11:20] grantcurell commented on #52
I would be willing to work on this - just to clarify, they want to provide a subnet and then based on that subnet's range the code should select all servers in that subnet and then assign them to a group?

[2020-10-27 17:58] grantcurell commented on #53
I'll work this - you can assign it to me if you want.

[2020-10-28 14:59] vmallemp commented on #48
Entire configuration of the OME

[2020-10-28 18:48] grantcurell opened #60 "PowerShell scripts do not run on PowerShell 7"
Right now, running any of our current scripts against PS7 causes failure during authentication. Fails with:

[code]

Assuming the goal is to simply ignore the certificate check, the fix action is to add `-SkipCertificateCheck` to calls against `Invoke-WebRequest`

## Fixed

- [ ] Add-Members.ps1
- [ ] Edit-DiscoveryJob.ps1
- [x] Get-AlertsByDevice.ps1
- [x] Get-AuditLogs.ps1
- [ ] Get-ChassisInven

[2020-10-28 18:50] grantcurell commented on #58
I'd be willing to take a look at it. I'm not sure what is meant by configuration data though - do you have a screenshot or something?

[2020-10-29 11:46] grantcurell opened #61 "Session error handling does not work for all PowerShell scripts"
The following code block is used for all code:

[code]

However, that conditional statement is never executed. PowerShell throws an exception if for any reason the connection fails and this is ultimately handled by the general exception handler present:

[code]

Example:

[code]

or

[code]

[2020-10-29 13:13] grantcurell opened #62 "Most Python code is not compliant with PEP8 and PEP484"
While not mandatory, it would significantly improve readability to follow PEP8/PEP484. Suggest we add a style guide enforcing the use of both. PyCharm automatically provides syntax highlighting for compliance with both.

[PEP8](https://www.python.org/dev/peps/pep-0008/)
[PEP484](https://www.python.org/dev/peps/pep-0484/)

- [x] add_device_to_static_group
- [ ] add_members.py
- [ ] create_mcm_group

[2020-10-29 18:17] grantcurell opened #63 "All Powershell code unnecessarily uses insecure password handling"
The function of using the PowerShell credentials module is so that the credentials are encrypted in memory and at no point can be read in plaintext. Currently, all PowerShell code contains the following:

`$Password    = $Credentials.GetNetworkCredential().password`

This forces PowerShell to decrypt the credentials and then store them as a plaintext string in the `$Password` variable. This could

[2020-10-29 19:21] grantcurell opened #64 "PowerShell code is using deprecated option -UseBasicParsing"
In current PowerShell code all calls to Invoke-WebRequest use the option `-UseBasicParsing`. Per [the docs](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.utility/invoke-webrequest?view=powershell-7) this was deprecated in PowerShell 6. All calls to Invoke-WebRequest use basic parsing by default.

It may make sense to leave it in if we expect customers to still be running

[2020-11-02 06:01] markatdxb commented on #58
Hi, pls see attached.
Our plan is to fully automated the new iDrac configuration process.
- discover iDrac in OME
- upgrade to the latest FW
- apply the company standard configuration to iDrac

Our current process:
- we initiate python script to discover new Device in OME - this script is avail on GitHub in Dell repo
- next what we want to do:
1. run script to collect Configuration Inventory Data

[2020-11-02 12:15] grantcurell commented on #58
@markatdxb - I haven't used that functionality before. I'll take a look and report back here!

[2020-11-02 14:36] grantcurell opened #65 "get_identitypool_usage.py - Unresolved reference to next_link_json_data"
![image](https://user-images.githubusercontent.com/35169230/97880150-cbaf7580-1cee-11eb-9b9b-3560149b7f62.png)

I saw this while reviewing the code base.

[2020-11-02 14:49] grantcurell opened #66 "set_system_configuration - function get_deploy_template_status returns nothing but has assignment"
[code]

I haven't investigated but the function `get_deploy_template_status` returns nothing, but in the line above is assigned to STATUS. Was something meant to be  done with the STATUS variable?

[2020-11-03 12:44] grantcurell opened #68 "odata filters not implemented / not working universally?"
I'm new to odata filters, but it doesn't seem like the API implements them universally and it's not clear which ones work and which ones don't. Ex:

`requests.get("https://192.168.1.93/api/DeviceService/Devices?$filter=DeviceName eq \'192.168.1.45\'", headers=authenticated_headers, verify=False)`

This python works and properly returns a 200. However:

`requests.get("https://192.168.1.93/api/Disco

[2020-11-03 23:46] grantcurell commented on #58
@markatdxb - Just wanted to give you a heads up I think I have a working solution. Took me a bit because it required an undocumented API call and had to study up on how the configuration inventory specifically worked. I'll PR it here tomorrow.

[2020-11-04 13:56] grantcurell commented on #58
Request completed in that PR in Python.

[2020-11-04 16:48] grantcurell commented on #54
Does this need to support Kerberos auth?

[2020-11-05 17:21] grantcurell commented on #54
Resolved by https://github.com/dell/OpenManage-Enterprise/pull/71

I didn't see a way to purge the logs. This may need to be solved separately, but it does the rest.

[2020-11-05 19:27] grantcurell opened #72 "Get-DeviceList.ps1 is broken"
Running `Get-DeviceList.ps1` doesn't seem to do anything `Get-DeviceList -IpAddress 100.96.20.132 -OutFormat json -UserName admin -Outfilepath C:\Users\Desktop\test.json` . Running the script just causes it to return immediately with no output.

[2020-11-06 00:36] RaajeevKalyan commented on #72
Unsure if this was done by mistake / was an issue during merge of a PR - I've fixed the issue for now

[2020-11-06 00:36] #72 closed

[2020-11-10 16:54] grantcurell commented on #51
What is meant by adding a VLAN to the chassis? Is there a particular chassis the customer has in mind? Do they mean the switch on the chassis?

[2020-11-10 17:31] grantcurell commented on #50
@vmallemp you can filter alerts by any odata filter. There's a list available on page 75 [here](https://dl.dell.com/topicspdf/dell-openmanage-enterprise_api-guide2_en-us.pdf). Is there something in particular you'd like it to do?

[2020-11-10 17:32] grantcurell commented on #45
I think this can be closed. It should be addressed with: https://github.com/dell/OpenManage-Enterprise/pull/70

[2020-11-10 17:35] grantcurell commented on #49
@vmallemp - @RaajeevKalyan may have different thoughts, but I'm not sure it makes sense to do that here. Does the end user just need help tying the two together? We'd have to write a new script that is a verbatim copy and paste of all the code in the two other scripts. Would it be sufficient to provide the functionality for deleting a device somewhere and then they could use that?

[2020-11-10 18:38] grantcurell commented on #45
Since I already wrote https://github.com/dell/OpenManage-Enterprise/pull/70 I'll take this one if you want to assign it to me.

[2020-11-10 19:19] grantcurell opened #75 "Need Python parity for Get-InventoryByType"
It looks like we are missing the parity script for Get-InventoryByType.

Update:

Based on feedback from @RaajeevKalyan below changing ticket purpose. Need to update Get-DeviceInventory.ps1 to mirror get_device_inventory.py and then remove Get-InventoryByType.

[2020-11-10 19:24] grantcurell opened #76 "Need Python parity for New-Network"
It looks like we are missing Python parity for New-Network.ps1

[2020-11-11 12:48] #54 closed

[2020-11-11 12:56] grantcurell commented on #53
Completed with https://github.com/dell/OpenManage-Enterprise/pull/59

[2020-11-11 12:56] #53 closed

[2020-11-11 13:10] grantcurell commented on #58
Resolved with https://github.com/dell/OpenManage-Enterprise/pull/70. PowerShell parity requirement ticket is here https://github.com/dell/OpenManage-Enterprise/issues/45

[2020-11-11 14:27] #61 closed

[2020-11-11 14:39] grantcurell commented on #64
Resolved with https://github.com/dell/OpenManage-Enterprise/pull/74

[2020-11-11 14:39] #64 closed

[2020-11-11 14:41] grantcurell commented on #76
Already exists - it's called create_network.py

[2020-11-11 14:41] #76 closed

[2020-11-11 15:09] grantcurell opened #79 "start_inventory_job.py duplicate of refresh_device_inventory?"
It looks like start_inventory_job.py might be a duplicate of refresh_device_inventory.py

[2020-11-11 23:05] grantcurell commented on #52
Clarification obtained - this needs to enhance the discovery to also create a group of the discovered devices.

[2020-11-12 11:18] Thibaudm33 opened #81 "update_firmware_using_catalog.py with OME 3.5.0 (Build60)"
Hi,

this morning we had an issue with your script update_firmware_using_catalog.py.
We launched the command : python3 update_firmware_using_catalog_3.0.py --ip x.x.x.x--user admin --password  --updateactions upgrade --deviceid 88090

Instead of running only on the deviceid 88090, this command was executed on one hundred servers of our 1200 servers.

FYI, we got the deviceid by api (https://-----/

[2020-11-12 16:45] grantcurell commented on #81
@Thibaudm33 - I'll set it up in a lab and give it a test go and get back to you.

[2020-11-12 17:10] grantcurell commented on #81
@Thibaudm33 - I was able to replicate the behavior. I haven't played with that script before. I'll go check into it now. Thanks for reporting this!

(My only target was .63)
![image](https://user-images.githubusercontent.com/35169230/98972050-ed271300-24df-11eb-9ef1-3c556e54ec71.png)

[2020-11-12 18:31] grantcurell commented on #81
@Thibaudm33 could you confirm what version of OpenManage you're running?

![image](https://user-images.githubusercontent.com/35169230/98980839-27e27880-24eb-11eb-85e8-ee4bea4ec0f7.png)

It's in the top right. I tracked the problem down. On older versions of OpenManage (I tested on 3.4.1) the line:

    component_status, component_data = request(url=compl_url, header=headers)

which calls the API r

[2020-11-13 04:37] grantcurell commented on #45
Completed in https://github.com/dell/OpenManage-Enterprise/pull/85

[2020-11-13 04:37] #45 closed

[2020-11-13 08:12] Thibaudm33 commented on #81
@grantcurell Our version of OpenManage is 3.5.0 Build 60

![Capture](https://user-images.githubusercontent.com/67233470/99044562-3c2c8100-2590-11eb-8530-59ed5933f5eb.JPG)

[2020-11-13 13:39] grantcurell commented on #81
@Thibaudm33 hmmm I have fewer ideas then. Does the job log for the firmware update job have all 100 devices in it?

## Mine from 3.4.1:
![image](https://user-images.githubusercontent.com/35169230/99077477-ce318b00-258a-11eb-807f-60c0d22d708d.png)

## Mine from 3.5.0 (build 60)
![image](https://user-images.githubusercontent.com/35169230/99077950-90813200-258b-11eb-8dbb-591eaf6d5854.png)

[2020-11-13 23:26] RaajeevKalyan commented on #68
Supported filters should be documented in the REST API guide for GET calls - the examples are not universally required filters afaik and the implementation of a filter is up to the backend.

I'd recommend closing this - if there is a property that is called out as being supported by a filter query and it does not work, that would be useful to know.

[2020-11-13 23:30] RaajeevKalyan commented on #54
Audit logs on the system cannot be purged - the ability to export is all that is present within OME

[2020-11-15 20:44] grantcurell opened #86 "update_firmware_catalog deletes all baselines without prompting"
I don't think this is probably the desired behavior. I have only checked update_firmware_catalog.ps1, but I suspect the Python is the same. From what I can tell it deletes all the existing baselines to make sure there are no conflicts. If a user has configured baselines it is unlikely the desired behavior is to delete all of these without prompting first.

[2020-11-15 22:14] #68 closed

[2020-11-15 22:20] grantcurell opened #87 "NetworkAddress device filter not working"
See page 197 of [the API doc](https://dl.dell.com/topicspdf/dell-openmanage-enterprise_api-guide2_en-us.pdf). It says `NetworkAddress` should be a valid field, but when you try try to hit it with something like:

`$DeviceId = Get-Data "https://$($OmeIpAddress)/api/DeviceService/Devices" "NetworkAddress eq `'$($IdracIp)`'"`

it will fail. This works as expected:

`"https://$($OmeIpAddress)/api/Devi

[2020-11-16 08:44] Thibaudm33 commented on #81
Yes, the firmware update job have all 100 devices

[2020-11-16 13:16] grantcurell opened #88 "Job type in Update-FirmwareUsingCatalog.ps1 is hardcoded"
Right now the JobType field is statically set to:

                JobType = @{
                    Id = 5
                    Name = "Update_Task"
                }

This should be dynamically pulled on a per job basis like it is in update_firmware_using_catalog.py

[2020-11-16 14:20] grantcurell opened #90 "Need to implement CIFs and NFS support in Update-FirmwareUsingCatalog.ps1"
Right now only the Dell online catalog is supported. We need to add CIFS/NFS support.

[2020-11-16 14:22] grantcurell opened #91 "Update-FirmwareUsingCatalog.ps1 more than one page of devices untested"
Right now the following code block is untested:

        elseif ($ComplValList.Length -gt 0) {
            foreach ($ComplianceHash in $ComplValList) {
                $SourcesString = $null
                $NavigationUrlLink = $ComplianceHash.'ComponentComplianceReports@odata.navigationLink'
                $NavigationURL = "https://$($IpAddress)" + "$NavigationUrlLink"
                $Component

[2020-11-16 14:25] grantcurell opened #92 "Need to implement downgrade / flash-all support in Update-FirmwareUsingCatalog.ps1"
Right now there is a stub informing users the functionality is not implemented:

    # TODO - This is not yet implemented
    foreach ( $Action in $UpdateActions) {
        if ($Action -eq "flash-all" -or $Action -eq "downgrade") {
            Write-Error "The flash-all and downgrade actions are not yet implemented."
            Exit
        }
    }

    foreach ( $Action in $UpdateActions) {

[2020-11-16 15:29] grantcurell commented on #81
@Thibaudm33 two of us have checked it and didn't bump into anything, but that doesn't mean there aren't any problems there. If you're willing to do a Zoom or something and you've got a Python debugger handy I'd be willing to go take a look.

[2020-11-16 16:23] RaajeevKalyan commented on #87
Nested properties can also be queried - for the specific issue here, this is how you resolve the query - this is not an issue

https://<ome ip>/api/DeviceService/Devices?$filter=DeviceManagement/any(d:contains(d/NetworkAddress,'<target ip>'))

More details - http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part2-url-conventions/odata-v4.0-errata03-os-part2-url-conventions-complete.

[2020-11-16 16:29] grantcurell commented on #87
😂 wamp wamp. Man, I spent a while reading about that and couldn't figure out the syntax and saw some people posting saying that it wouldn't work. I'll refactor some code and include that. Thanks!

[2020-11-17 17:04] RaajeevKalyan commented on #75
Already present in the get_device_inventory.py script -

 parser.add_argument("--inventorytype", "-invtype", required=False,
                        choices=('cpus', 'os', 'disks', 'controllers', 'memory'),
                        help="Get inventory by cpus/os/disks/controllers,memory")

[2020-11-17 17:34] grantcurell opened #94 "Need to revise plugins code to handle pagination"
See conversation in https://github.com/dell/OpenManage-Enterprise/pull/77 for details. Currently the plugins code does not handle pagination correctly.

Assigned to @Mahendran-P-Dell

[2020-11-17 18:17] grantcurell commented on #75
I'll make sure to find a way to address this in the documentation

[2020-11-18 14:44] grantcurell commented on #50
Clarification received. Need to be able to filter on attributes

See page 75 of the API guide

[2020-11-18 17:42] grantcurell commented on #17
Completed with https://github.com/dell/OpenManage-Enterprise/pull/96

[2020-11-18 17:42] #17 closed

[2020-11-18 18:03] grantcurell commented on #79
It is, but it right now also provides the ability to use a group. Need to roll them together.

[2020-11-18 20:57] grantcurell opened #98 "Unable to use the Top filter with alerts?"
According to [our documentation page 74](https://dl.dell.com/topicspdf/dell-openmanage-enterprise_api-guide2_en-us.pdf) the top filter should be available on alerts. When providing the below URL (built according to the [odata docs](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/):

`https://192.168.1.93/api/AlertService/Alerts$top=10`

you receive the following error:

[code

[2020-11-18 20:58] #98 closed

[2020-11-18 20:58] grantcurell commented on #98
Nevermind, I'm just bad at my job 😂😂😂

Missing questionmark

[2020-11-19 19:51] grantcurell commented on #58
@markatdxb - did this do what you were looking for?

[2020-11-19 21:52] grantcurell opened #99 "@odata.nextLink is in data when using the top odata query"
In all of our programs we check for the presence of `@odata.nextLink` and if it is present we continue to iterate. I noticed when using the top query I would end up getting all objects in OME, but it would take a *very* long time. On further inspection this is because `@odata.nextLink` is present even though there *shouldn't* be a next page because in my case there is only one result. Is this beha

[2020-11-20 00:45] RaajeevKalyan commented on #99
The usage of $top over-rides the pagination constructs internally (as in if page size is x and top is set to y where y > x, then y results are returned in the response) - there isn't a clear spec entry that I could find (and on discussion with colleagues) that indicates that the nextLink shouldn't exist in the returned response, though it does seem like it would be preferable behavior.

Even if we

[2020-11-20 01:05] markatdxb commented on #58
Sorry i cant find your script refresh_device_inventory in repo

[2020-11-20 01:40] RaajeevKalyan commented on #58
I think it was renamed -https://github.com/dell/OpenManage-Enterprise/blob/master/Core/Python/invoke_refresh_inventory.py

[2020-11-20 01:47] grantcurell commented on #58
Sorry about that - I updated the names so PowerShell and Python matched. The scripts are also now listed [here](https://github.com/dell/OpenManage-Enterprise/blob/master/docs/API.md)

[2020-11-20 03:18] markatdxb commented on #58
@grantcurell - just tested the script. i specified single idrac IP but log shows inventory refresh runs on all devices

[2020-11-20 03:20] grantcurell commented on #58
@markatdxb huh - I just hopped in bed. I'll give it a go tomorrow and see what's up.

[2020-11-20 05:27] RaajeevKalyan commented on #58
Possible I am missing something, but on a quick skim, It looks like your default is to not skip the config inventory - if no group name is specified I think after refreshing the inventory the script will go through and default to running config inventory on the All Devices Group -

@markatdxb  - could you retry setting the -skip flag to true?

[2020-11-20 08:43] markatdxb commented on #58
just tested to add  --skip-config-inventory  - didnt work - it ran but didnt pull configuration data

[2020-11-20 11:42] grantcurell commented on #58
@markatdxb on the way back home from a morning meeting now - I'll take a look. Just to clarify though, if you skip config inventory the tab under devices *does not* update

Only the firmware versions and stuff

[2020-11-20 14:11] grantcurell commented on #58
@markatdxb - I was able to replicate the problem. The regular inventory refreshes as expected, but the config inventory is targeting all servers. I'm checking it out now.

[2020-11-20 14:12] #58 closed

[2020-11-20 14:13] grantcurell commented on #58
@markatdxb - at first I thought there was a problem, but then I remembered the config inventory operates on the configuration group. See help text:

[code]

[2020-11-20 14:18] markatdxb commented on #58
@grantcurell - if I understand above correctly I need to put device to some temp group first, run the script and remove device from the group?

[2020-11-20 14:22] grantcurell commented on #58
@markatdxb unfortunately yes. That's for the configuration inventory only (the tab as shown below)

![image](https://user-images.githubusercontent.com/35169230/99810326-9211a380-2b11-11eb-96ff-a0838e9cb9a9.png)

for just refreshing the firmware list and all that you don't need the group. The config inventory is the same as this button:

![image](https://user-images.githubusercontent.com/35169230/9

[2020-11-20 14:26] grantcurell commented on #58
I just added a warning that will give people a heads up.

[2020-11-22 14:55] grantcurell commented on #99
@RaajeevKalyan I'll give it some thought and come up with a stable way to handle the behavior.

[2020-11-22 15:10] grantcurell opened #101 "It is unclear how to filter using timestamp in the alerts API (potentially not working?)"
The documentation says the fields sholud be TimeStampBegin and TimeStampEnd

![image](https://user-images.githubusercontent.com/35169230/99907325-33336200-2caa-11eb-9ee8-44e4671b8138.png)

Testing with: `https://192.168.1.93/api/AlertService/Alerts?$filter=TimeStampEnd eq '2020-11-05T23:59:59-05:00'` fails. I pulled the request out of the UI to test:

![image](https://user-images.githubusercontent

[2020-11-22 21:47] #99 closed

[2020-11-23 01:30] grantcurell commented on #81
@Thibaudm33 just seeing if you want me to leave this open.

[2020-11-23 17:42] grantcurell commented on #50
Finished in https://github.com/dell/OpenManage-Enterprise/pull/103

[2020-11-23 17:42] #50 closed

[2020-11-24 18:56] grantcurell commented on #81
I'm going to go ahead and close this, but if you change your mind and want help I'm happy to troubleshoot it. You may have a scenario I just haven't tried yet.

[2020-11-24 18:56] #81 closed

[2020-11-24 19:01] grantcurell commented on #21
@markatdxb - I'd be willing to mod the behavior. Is the behavior you're looking for:

1. Check if online catalog is present
2. If it is, use that catalog (I'll have to look into the refresh behavior @RaajeevKalyan mentioned)
3. If it isn't, make one and go from there

[2020-11-24 22:36] #55 closed

[2020-11-24 22:41] grantcurell opened #105 "get_data return type could be dictionary or list"
In the docstring for get_data in Python the return type is set as a list. However, depending on the URI accessed it could actually be a dictionary or a string. For example `get_data(headers, "https://%s/api/DeviceService/Devices(%s)" % (args.ip, device_id))` returns a dictionary rather than a list. Need to determine how to handle these two different cases more appropriately in the docs and in the

[2020-11-24 23:17] grantcurell commented on #49
Closing since this is a duplicate of #52

[2020-11-24 23:17] #49 closed

[2020-11-25 15:14] grantcurell opened #106 "Bug in invoke_refresh_inventory.py when using idrac IP"
I introduced a bug with commit 358b3604fd76e334e1c69d817b09d8b90c631e7a which broke using idrac ips in `invoke_refresh_inventory.py`

[2020-11-25 15:33] grantcurell commented on #87
@RaajeevKalyan I'm still wrapping my head around it. For example `"DeviceManagement/any(d:d/NetworkAddress eq '%s')" % device_idrac_ip` where device_idrac_ip is 192.168.1.4 matches entries with idrac IP 192.168.1.45. Do you happen to know if I'm doing something silly?

[2020-11-25 16:04] #106 closed

[2020-11-25 17:26] #52 closed

[2020-11-25 18:07] #79 closed

[2020-11-25 18:26] grantcurell commented on #51
Clarification received. Use these scripts as baselines. Credit goes to Hemanth Vishwanath

[vlan_replicator.py.txt](https://github.com/dell/OpenManage-Enterprise/files/5598577/vlan_replicator.py.txt)
[inputs.json.txt](https://github.com/dell/OpenManage-Enterprise/files/5598578/inputs.json.txt)

[2020-11-30 14:17] grantcurell opened #110 "Create a way to autopopulate blades from chassis"
Right now populating the slots in power manager is a manual process. If a chassis is added, it should autopopulate the blades in the physical view.

[2020-11-30 14:18] grantcurell opened #111 "Add a way to see power consumption by static group"
I'm not sure if this already exists, but a customer suggested being able to see power consumption by static group

[2020-11-30 14:19] grantcurell opened #112 "Update Invoke-DiscoverDevice to add a group"
Make it so Invoke-DiscoverDevice.ps1 and Invoke-DiscoverDevice.py can add a group based on the devices discovered.

[2020-11-30 16:34] grantcurell opened #113 "Update the Invoke-DiscoverDevice Python and PowerShell scripts to handle network devices"
![image](https://user-images.githubusercontent.com/35169230/100636595-df56f780-32ff-11eb-9976-be0ce1fb3001.png)

Right now the discovery scripts (Invoke-DiscoverDevice.ps1 and invoke_discovery_device.py) have hard coded JSON which they then convert to native types. The community string is hard coded in the JSON and we do not provide a way to modify it.

## Update

I saw we don't actually include i

[2020-11-30 17:11] grantcurell opened #114 "Dell storage doesn't seem to be correct for device discovery"
I haven't done as much with Dell storage but I noticed the credentials seem to be the same as they are for a network device. I suspect this is not correct:

![image](https://user-images.githubusercontent.com/35169230/100641186-22679980-3305-11eb-8614-c19b75a966bd.png)

[2020-12-01 00:16] uzzikie opened #115 "set_power_state.py is executed on all servers even when --idrac-ips specifies a single IP"
ran the following code

`python set_power_state.py --ip <ome_ip> --user <user> --password <password> --idrac-ips 192.168.1.73 --state MASTER_BUS_RESET`

but seems like it got executed on all servers instead. Target system names are hidden.
User only has DEVICE_MANAGER privileges

![Screenshot 2020-12-01 at 8 06 57 AM](https://user-images.githubusercontent.com/13991294/100680453-8a24ef80-33ac-11eb-

[2020-12-01 02:19] grantcurell opened #116 "The CreateGroup option in the discovery payload is ignored"
According to [the documentation](https://dl.dell.com/topicspdf/dell-openmanage-enterprise_Reference-Guide2_en-us.pdf) page 610 the `CreateGroup` option should create a group on discovery. After testing it, this value seems to be ignored and no group is created.

[2020-12-01 02:45] grantcurell opened #117 "The PowerShell Get-Data function should take $Credentials as a parameter"
Get-Data requires the value `$Credentials` to be present. Given that it is a hard requirement the function should be updated to take it as a parameter rather than assume it is present.

[2020-12-02 15:35] 5nafu opened #118 "Passwords should not be required on the command line"
Scrolling through the `get_device_list.py` example, I realised that at least in this file it is required to add the password on the command line.
This is a very bad practice as everyone with access to the process tree (`ps -a`) can read the password.

It would be better to ask for the password, if it is not set. You could use `getpass.getpass` for this, to not leak the information on screen.

[2020-12-02 21:43] grantcurell opened #119 "Update invoke_discover_device.py to match InvokeDiscoverDevice.ps1"
Currently Invoke-DiscoverDevice.ps1 offers substantially more capability than invoke_discover_device.py. It needs to be updated for parity with its PowerShell counterpart.

[2020-12-02 22:29] grantcurell commented on #115
@uzzikie apologies on the delayed response. I haven't used that script before - I'll take a look tomorrow.

[2020-12-02 22:31] grantcurell commented on #118
@5nafu - I can look into getpass, that said, if someone is running `ps` on your system with privileges sufficient to see your process calls, then they could also just read the password out of memory since Python stores it in plaintext.

[2020-12-02 22:36] grantcurell commented on #118
I can look into `getpass`. Appreciate the heads up. Honestly I thought the value of hidepid was 1 these days, but Google shows me that for whatever reason even RHEL still defaults it to 0.

[2020-12-02 23:36] 5nafu commented on #118
dame goes for Ubuntu (20.04), where `/proc` is mounted without any `hidepid` and I can read `/proc/[anypid]/cmdline` as normal user.

I am happy to create a pull request for you to fix this, it will come up shortly.
It is no big deal, actually, as you only need to import `getpass.getpass` and then use it if no password is set:
[code]

[2020-12-03 02:05] grantcurell commented on #118
@5nafu I really appreciate your taking the time man!

[2020-12-03 10:42] grantcurell commented on #115
@uzzikie Oh, I just saw what OME version you have - there's a known bug. If you update that will go away. See: https://github.com/dell/OpenManage-Enterprise/issues/81

[2020-12-03 10:56] uzzikie commented on #115
that's a terrible bug! I'll update OME and monitor if that resolves the situation. Thanks for looking into it

[2020-12-03 11:02] grantcurell commented on #115
@uzzikie definitely let me know if you still have problems. Running on my up-to-date instance cleared up any problems for me, but I wasn't able to confirm if things got cleared up with the user from #81

If it's doing that for you on the up-to-date version it's definitely something I want to get fixed 😂

[2020-12-03 11:39] #75 closed

[2020-12-04 14:08] #118 closed

[2020-12-04 14:42] grantcurell commented on #115
@uzzikie did this behave as expected for you?

[2020-12-07 01:32] uzzikie commented on #115
i haven't gonna around to update the OME yet....hopefully sometime this week

[2020-12-07 13:00] grantcurell opened #126 "invoke_manage_query_groups.py only supports device type"
Currently the invoke_query_groups.py script only supports the device type. With minimal effort it could be extended.

[2020-12-07 14:13] grantcurell opened #128 "Need powershell equivalent of invoke_manage_query_groups.py"
See title.

[2020-12-07 14:14] #113 closed

[2020-12-07 14:15] grantcurell commented on #113
This has been addressed in the powershell code. This issue is now a dup of https://github.com/dell/OpenManage-Enterprise/issues/119

[2020-12-07 14:15] grantcurell commented on #112
Finished

[2020-12-07 14:15] #112 closed

[2020-12-09 00:44] uzzikie commented on #115
just updated to Version 3.5.0 (Build 60) and ran POWER_ON instead

`python set_power_state.py --ip <ome_ip> --user <user> --password <password> --idrac-ips 192.168.1.73 --state POWER_ON`

![Screenshot 2020-12-09 at 8 16 26 AM](https://user-images.githubusercontent.com/13991294/101557122-4c047d00-39f7-11eb-8911-219c4dd937b9.png)

unfortunately it's still executing on all servers

I did my own tests

[2020-12-09 01:05] grantcurell commented on #115
@uzzikie I figured it out. The code for this was borrowed from elsewhere:

![image](https://user-images.githubusercontent.com/35169230/101559815-e9c46180-398f-11eb-8bde-c1d59fa457b4.png)

groupname was defaulting to All Devices. I'm sorry I put you through upgrading on this one man. I saw this one and the version you were running and figured it was related to the last bug. It's fixed now.

[2020-12-09 01:05] #115 closed

[2020-12-09 01:27] uzzikie commented on #115
thanks! appreciate your fine work on this

[2020-12-10 12:51] grantcurell opened #132 "invoke_discovery_device.py terminates early"
![image](https://user-images.githubusercontent.com/35169230/101774628-618faa80-3abc-11eb-8b7e-b694e69aef5b.png)

when testing against a slower device I found that invoke_discover_device.py would terminate early while the job was still running.

[2020-12-10 13:09] grantcurell opened #134 "Enhance job tracker to print current job status along with iteration"
Currently the job tracker prints like this:

[code]

It would be nice if in addition to printing the above it printed the current job status like it does in the UI:

[code]

[2020-12-13 21:12] vmallemp opened #136 "Using the SAEP APIs, get the list of devices for which collections have been run non-periodically"

[2020-12-13 21:52] vmallemp opened #137 "Warranty reports and the devices covered under ProSupport and ProSupport Plus"
Write a Python/PowerShell script for obtaining the warranty reports of the devices and also the devices that are covered under the ProSupport and ProSupportPlus

[2020-12-13 21:54] vmallemp opened #138 "Script for list of current cases and case status"
Using the SAEP APIs, write a Python/PowerShell script to get a list of current cases and the case status and use the APIs to update the status of a case

[2020-12-13 21:57] vmallemp opened #139 "Reporting and maintenance of devices"
Using the SAEP APIs write a Python/PowerShell script to export the SAE managed devices and staging devices at a given interval of time for reporting and maintenance.

[2020-12-14 17:17] grantcurell opened #140 "set_system_configuraiton.py has a statically defined template name of Template"
If you run the script twice the create template call fails because the template's name is template. When the names conflict OME rejects it.

[2021-01-11 16:26] #34 closed

[2021-01-12 16:55] #140 closed

[2021-01-12 16:55] #66 closed

[2021-01-12 18:36] grantcurell opened #147 "Need Python parity for New-OmeUser.ps1 and Get-OmeUser.ps1"

[2021-01-12 18:40] grantcurell commented on #47
I have brought both scripts up to spec for the contributor guide and incorporated them in the repo.

[2021-01-12 18:40] #47 closed

[2021-01-13 18:51] grantcurell opened #151 "Downloading the OpenManage Support Enterprise Plugin fails"
![image](https://user-images.githubusercontent.com/35169230/104495963-5e4d7a00-55a6-11eb-8f6a-f54be1f736e6.png)

When done without any modification to OME the download fails with the attached info.

[2021-01-13 18:53] grantcurell commented on #151
It looks like you have to add a repository (I used the online Dell repo) manually, make sure it's up to date, and then pull.

Maybe we can find a way to make this more clear?

[2021-01-19 19:46] grantcurell commented on #117
Given how PowerShell works I think this is best as is.

[2021-01-19 19:46] #117 closed

[2021-01-19 19:47] grantcurell commented on #128
Duplicate of https://github.com/dell/OpenManage-Enterprise/issues/35

[2021-01-19 19:47] #128 closed

[2021-01-20 14:55] #51 closed

[2021-01-20 14:58] grantcurell commented on #48
Update - this might be a feature in OME, but probably won't be done via a script.

[2021-01-20 14:58] #48 closed

[2021-01-21 15:04] SmrtAss opened #153 "Ability to sync common settings between OME's"
We run 10 OME's, Id like the ability to sync settings between multiple OME's with ease.  Settings like all Compliance Profiles, ALL Firmware Catalogs, Templates,  SNMP, Warranty, Alert Settings, and other Application Settings, Basically if its a "general setting" that isnt site or system specific, id want to replicate it to other sites.

[2021-01-21 15:06] SmrtAss opened #154 "Backup / Restore Option for OME"
Currently there is no ability to backup and restore ALL Settings for a OME for the event of a loss of system OR a planned migration from one system to another (think botched upgrade corrupted system).  We would like an ability to backup and restore all settings, templates, discoveries, configurations, etc...  from one OME to another.

[2021-01-21 15:09] SmrtAss opened #155 "OME Devices"
Along with creating discovery jobs that create static groups, a script to link/associate/build relationships between static groups and the physical Hierarchy.  We should not be adding the same data multiple times to OME.  1 script / response file should import into static groups, physical hierarchy and whatever future systems require independent delineation.

[2021-01-21 15:11] SmrtAss opened #156 "Multiple OME Reporting"
"Built in" ability to link multiple OME's with 1 "master" OME that acts as the single pane of glass, reporting all alerting and basic information for reporting.

Eventual to sublet commands to sub OMEs to do actual work, i.e. firmware updates, compliance profile application, etc...

[2021-01-22 02:05] RaajeevKalyan commented on #156
This seems like a request for new OME functionality as opposed to a sample script using existing API infrastructure. I will reflect to product management internally, but will close this as no functionality exists at present / product features are not being tracked via this repo.

[2021-01-22 03:14] SmrtAss commented on #156
I think it could easily be done by script / api.

Sent from mobile device, please excuse any mistakes.

-------- Original Message --------
From: Raajeev Kalyanaraman <notifications@github.com<mailto:notifications@github.com>>
Date: Thu, Jan 21, 2021, 8:05 PM
To: dell/OpenManage-Enterprise <OpenManage-Enterprise@noreply.github.com<mailto:OpenManage-Enterprise@noreply.github.com>>
CC: "HUIE, ANTHONY

[2021-01-22 03:22] grantcurell commented on #153
I can look into doing some of these - unfortunately at the code level "all general settings" is very complex. At some point it makes a lot less sense to do this via the API and a lot more sense to push this as a feature request into OME itself as a full database replication capability. Doing and maintaining everything would basically be an entirely new software product.

Which would be your top th

[2021-01-22 03:29] grantcurell commented on #154
This one is not possible or I suppose to split semantic hairs - not feasible. Nothing is impossible given enough time 😂

That said, if you want to back up a VM from an enterprise standpoint you could run something like IDPA. Or if you want to keep it super simple and free, I'd recommend just using a script that runs [OVF Tool](https://code.vmware.com/web/tool/4.4.0/ovf) using `ovftool.exe vi://<vc

[2021-01-22 03:29] #154 closed

[2021-01-22 03:45] grantcurell commented on #156
Unfortunately this one is actually outright impossible to do with the API. The programming hooks for this type of functionality simply don't exist - this would have to be a new feature request on the backend of OME. The other two tickets still open though are feasible and I can work those.

That said, @vmallemp is probably the right person to track this.

[2021-01-22 03:45] #156 closed

[2021-01-22 04:30] RaajeevKalyan commented on #155
Is this the kind of functionality being asked for here? https://github.com/dell/OpenManage-Enterprise/tree/master/Plugins/Power%20Manager/Import%20Physical%20Hierarchy

[2021-01-22 16:51] #56 closed

[2021-01-22 16:58] grantcurell commented on #86
This is now a duplicate of #21

[2021-01-22 16:58] #86 closed

[2021-02-01 06:59] jzcmyz opened #161 "get-devicelist.ps1 error line 231 invoking the get-data function"
Line 195 in the function has an invalid uri...

This line ...
      $NextLinkData = Invoke-RestMethod -Uri "https://$($IpAddress)$($NextLinkUrl)" -Method Get -Credential $Credentials `
        -ContentType $Type -SkipCertificateCheck

needs to be changed to
      $NextLinkData = Invoke-RestMethod -Uri "$($NextLinkUrl)" -Method Get -Credential $Credentials `
        -ContentType $Type -SkipCertific

[2021-02-02 20:25] grantcurell commented on #161
@jzcmyz - sorry, I'm a bit late to the party. Checking it out now

[2021-02-02 22:02] grantcurell commented on #161
@jzcmyz I tested on Get-Alerts.ps1 because I didn't have enough devices to force paging, but the Get-Data function in both is identical. Screenshot below - it looks like the url is correct, but I may be missing something. Is there an error you're seeing that prompted you to investigate?

![image](https://user-images.githubusercontent.com/35169230/106668263-0fc54700-6578-11eb-8d8c-3d45d2b80834.png)

[2021-02-03 00:46] jzcmyz commented on #161
Hello Grant
We have more than 50 devices.
This is the error I see..

![2021-02-03 11_35_02-Clipboard](https://user-images.githubusercontent.com/3168688/106681647-03db9280-6615-11eb-8ba5-279b113713d0.png)

This shows the $nextlinkurl variable

![2021-02-03 11_41_54-Clipboard](https://user-images.githubusercontent.com/3168688/106681707-240b5180-6615-11eb-86b1-e9f7ce5475c0.png)

[2021-02-03 02:40] grantcurell commented on #161
@jzcmyz

1. I cannot tell you how appreciative I am of the fact that you ran it down to the line in question. It's rare I get that sort of precision in here
2. This might actually be a bug in the API itself. I just did a diff on the get-data function and confirmed they are identical across both files just to make sure I didn't fat finger a copy paste.

I'll investigate more tomorrow. I'll have to

[2021-02-03 20:50] grantcurell commented on #161
@jzcmyz apologies - GitHub autoclosed when I PR'd with the word "Fix" (hate that it does that)

I found the issue and patched it. There was a minor bug in the Get-Data function. `BaseUri` wasn't actually being used in the code - it was always undefined which PowerShell was leaving as blank. It only manifested in get-devicelist.ps1 because in the outer scope BaseUri was defined.

Let me know if the

[2021-02-04 18:06] ChrisSteinbeisser opened #176 "Get-ReportList.ps1 line 108 Write-Output "*** List of pre-defined reports ***""
Can you please take out line 108 Write-Output "*** List of pre-defined reports ***" ... from Get-ReportList.ps1.  That line is an annoyance.  I might use Get-ReportList with Invoke-ReportExecution and having that one line of text output for that script kills the ability to do Select-Object or Where-Object from that script.  I want to find a report by name and select it's ID find a report name to f

[2021-02-04 18:15] ChrisSteinbeisser opened #177 "Invoke-ReportExecution.ps1 missing -OutputFilePath in Example"
The basic example doesn't work without the -OutPutFilePath parameter ... so maybe add that parameter in the .EXAMPLE for clarity/reference.  Maybe point out  the need of finding the reportID using the Get-ReportList script or a querying to get that ID as well.

EXAMPLE using the .EXAMPLE

PS C:\bin\I_am_wonderful> ./Invoke-ReportExecution.ps1 -IpAddress "100.79.7.15" -Credentials $cred -ReportId 2

[2021-02-04 18:40] ChrisSteinbeisser commented on #176
...and take out the " | Format-List" part on Line 109 that currently says "$ReportList | Format-List" too please.

Goal here is just to make it easy to get a ReportID using the Get-ReportList.ps1 without modification to feed to Invoke-ReportExecution.psq like this:

PS C:\bin\I_am_wonderful> $ReportId = (./Get-ReportList.ps1 -IpAddress "100.79.7.15" -Credentials $cred | where {$_.Name -eq "Warrant

[2021-02-04 19:44] grantcurell commented on #177
This is another one that needs to be overhauled anyway. I'll take a look.

[2021-02-04 20:41] #176 closed

[2021-02-04 21:06] grantcurell commented on #161
@jzcmyz - going to close this out but feel free to reopen it if this didn't fix your problem.

[2021-02-04 21:06] #161 closed

[2021-02-04 21:07] grantcurell commented on #153
I'm going to close this out - if this is a requirement feel free to comment back and reopen and I'll take a look at it.

[2021-02-04 21:07] #153 closed

[2021-02-04 21:07] grantcurell commented on #155
I'm closing this out but if what @RaajeevKalyan doesn't cover your needs feel free to reopen and I'd be happy to take a look at it.

[2021-02-04 21:07] #155 closed

[2021-02-04 22:25] ChrisSteinbeisser opened #179 "Get-ReportList.ps1 Error - Unable to find type [System.Net.Http.HttpRequestException]"
Get-ReportList.ps1's update throws an error... and usine PowerShell ISE PSVersion 5.1.18362.1171 when it does such...

PS C:\bin\I_am_wonderful> ./Get-ReportList.ps1 -IpAddress "100.79.7.15" -Credentials $cred
C:\bin\I_am_wonderful\Get-ReportList.ps1 : Exception occured at line 150 - Unable to find type [System.Net.Http.HttpRequestException].
At line:1 char:1
+ ./Get-ReportList.ps1 -IpAddress "100

[2021-02-04 23:44] grantcurell commented on #179
@ChrisSteinbeisser since I'm the only one doing maintenance in my free time we're trying to future proof so everything is targeting PS7 for longevity. The problem is some people have upgraded and some people have not and the two versions are not mutually compatible.

That said, if you'd be willing I'd definitely welcome help retooling the [library code](https://github.com/dell/OpenManage-Enterpris

[2021-02-05 00:00] ChrisSteinbeisser commented on #179
I figured it was something to do with compatibility. I'll just get in line with PS7 moving forward/communicate using PS7 to others when using these examples as starter scripts as well.  Thanks!

[2021-02-05 01:42] grantcurell opened #181 "PS 5.1 is a hard requirement for me ticket"
Please leave a comment on this ticket if PS5.1 is a hard requirement and you are unable to swap to PS7.

[2021-02-05 01:51] grantcurell commented on #179
I went and checked - I get the same error on 5.1 that you did. I've added [a warning](https://github.com/dell/OpenManage-Enterprise#powershell-scripts-require-ps7) on the README and also opened a ticket on which people can comment if PS5.1 is a hard requirement for them so we have a better idea of how big an issue this is. If we get a lot of responses indicating this is a problem I'll work out a s

[2021-02-05 01:51] #179 closed

[2021-02-05 01:57] grantcurell opened #183 "Chinese translation needs to be updated"
The Chinese translations need to be updated

[2021-02-05 02:01] grantcurell opened #184 "These scripts need to be cleaned to meet contrib guide standards and moved from devel to master"
The following scripts need to be cleaned and imported from devel:

- [ ] get_chassis_profile.py
- [ ] get_identitypool_usage.py
- [ ] get_template.py
- [ ] new_identity_pool.py
- [ ] new_template.py
- [ ] set_chassis_profile.py
- [ ] set_template_identity_pool.py
- [ ] set_template_vlan.py

[2021-02-05 02:02] grantcurell commented on #65
This is now covered by #184 . The script has been removed from master and moved to devel.

[2021-02-05 02:02] #65 closed

[2021-02-05 15:20] grantcurell commented on #177
I'll have a PS7 version of this up today so you can use this with get-reports

[2021-02-05 18:32] #177 closed

[2021-02-05 18:33] grantcurell commented on #177
@ChrisSteinbeisser let me know if the new script gives you any trouble.

[2021-02-05 19:10] ChrisSteinbeisser commented on #177
Will do... I will be testing it and demo'ing with some folks next week.  I'll also refer folks to submit something via Issue 181 if they have concerns/needs for PS 5.1. (I'm liking the new name or id parameter you added.  Thanks!

[2021-02-06 00:04] jzcmyz commented on #161
Hello Grant
I can confirm the issue is resolved.
Thanks for your help with this

[2021-02-07 20:26] grantcurell commented on #177
@ChrisSteinbeisser hahaha I always add that - if nothing else I know I don't like to have to find the ID hahaha

If the customer has any other feedback feel free to post it.

Worst case scenario is it's not a common need and it sits in the queue

[2021-02-08 20:48] Jason37174 commented on #181
Anyone using Nutanix cmdlets to manage their Nutanix environment cannot upgrade to PS7 or it will break all their scripts. Nutanix has not converted their cmdlets over to full fledged modules and still use snapins. There does not seem to be any effort on Nutanix's part to make this switch any time soon either. I personally am managing over 700 nodes via PowerShell with the Nutanix cmdlets and cann

[2021-02-10 19:30] ChrisSteinbeisser opened #190 "Invoke-ReportExecution.ps1 throws System.UInt64 conversion type error returning multiple $ReportData.id's"
Invoke-ReportExecution.ps1 with a -ReportD works fine but -ReportName throws a type conversion error.

PS C:\bin\I_am_wonderful\OME> .\Invoke-ReportExecution.ps1 -IpAddress "100.79.7.15" -ReportName "Warranty" -OutputFilePath test.csv

cmdlet Invoke-ReportExecution.ps1 at command pipeline position 1
Supply values for the following parameters:
User: oseadmin
Password for user oseadmin: ***********

[2021-02-10 20:23] grantcurell commented on #190
Evidently odata's equal operator isn't actually equal which is frustrating. In strings it apparently means "contains"

![image](https://user-images.githubusercontent.com/35169230/107567616-e7f76400-6bb3-11eb-85d1-84d1d1a47dd5.png)

[2021-02-10 20:45] #190 closed

[2021-02-10 20:46] grantcurell commented on #190
@ChrisSteinbeisser - fixed. Let me know if you still have problems.

[2021-02-12 19:27] brucekamp opened #192 "OME Support Assist powershell plugin example"
Are there any plans for support assist plugins with powershell?  I am looking to create support assist groups plugin group based on the datacenter name & operating system from OME.

[2021-02-12 19:28] ChrisSteinbeisser commented on #192
FYI ... working with Bruce on requirements here but feel free to ping me as well on this enhancement.

[2021-02-12 19:41] ChrisSteinbeisser commented on #192
Bruce mentioned he's looking for a PowerShell example around this URI:https://{hostname}/api
/SupportAssistService/Actions/SupportAssistService.AddMemberDevices

[2021-02-12 20:35] grantcurell commented on #192
@brucekamp yes - the main roadblock has been my inability to get into the system that allows us to generate pins for SupportAssist. I gave it a shot a week ago and there are some pieces of the puzzle missing for me. If you guys know how to get that set up I can work tickets #136-139 which are the SupportAssist tickets I'm currently tracking

[2021-02-12 20:37] grantcurell opened #193 "Need to test downgrade and flashall in update_firmware_using_catalog.py"

[2021-02-12 20:40] grantcurell opened #194 "Update Update-FirmwareUsingCatalog.ps1 to match the functionality of update_firmware_using_catalog.py"
Currently `update_firmware_using_catalog.py` has significantly more features than the PowerShell equivalent. It needs to be updated to match the Python version.

[2021-02-12 20:46] ChrisSteinbeisser commented on #192
Grant ... Bruce is from Burlington Northern Santa Fe(BNSF) so he wouldn't know what we mean by pins.  I'll ping another OSE/cc' you, as I believe he was the one who set up our pins in the OSE lab.

[2021-02-12 21:02] grantcurell commented on #21
@markatdxb - I know this ticket has been open for a long time, but if you happen to get this, let me know if the changes I just made address your concern.

[2021-02-15 03:23] grantcurell commented on #192
@ChrisSteinbeisser I'll work it tomorrow morning! Saw your email - appreciate the help.

@brucekamp something like adding devices shouldn't be a problem

[2021-02-15 17:30] grantcurell opened #197 "Need a PowerShell version of new_template.py"

[2021-02-15 20:11] grantcurell opened #201 "Update deploy_template.py so that it can use an existing identity pool"

[2021-02-15 21:45] grantcurell commented on #192
Got access to a dev setup. I'll start work on it tomorrow.

[2021-02-15 21:58] grantcurell commented on #192
@brucekamp - are you able to use PS7?

[2021-02-16 00:34] brucekamp commented on #192
Yes

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Grant Curell <notifications@github.com>
Sent: Monday, February 15, 2021 3:58:20 PM
To: dell/OpenManage-Enterprise <OpenManage-Enterprise@noreply.github.com>
Cc: Kamp, Bruce D <Bruce.Kamp@BNSF.com>; Mention <mention@noreply.github.com>
Subject: Re: [dell/OpenManage-Enterprise] OME Support Assist powershell plugin

[2021-02-16 20:25] grantcurell commented on #192
@ChrisSteinbeisser I'm not sure that URI is active yet:

![image](https://user-images.githubusercontent.com/35169230/108117648-305aca00-706b-11eb-81e0-d579a487c18c.png)

It's also not documented yet in the API catalog. Will report back when I know more

[2021-02-16 21:32] grantcurell commented on #138
@vmallemp is there a customer API call for updating the status of a case?

[2021-02-16 21:34] grantcurell commented on #137
Will start this one tomorrow

[2021-02-16 23:42] vmallemp commented on #138
@grantcurell - Will update as soon as I get some info from engineering

[2021-02-17 14:40] grantcurell opened #204 "set_power_state.py errors out if the power state for a box is already set to the requested"
If the user requests a power state of off but the box is already off job tracking fails. The overall functionality is unaffected but this should be gracefully handled.

[2021-02-17 18:54] #137 closed

[2021-02-20 04:25] markatdxb commented on #21
@grantcurell - actually im sorry not coming back to you earlier - buried with other projects. ill run the test again next week and come back to you

[2021-02-20 06:15] grantcurell commented on #21
@markatdxb np - no rush

[2021-02-22 18:07] grantcurell commented on #192
I talk to PG and figured out the API calls for this. I'm not familiar, but I'm teaching myself now and working up some code. @brucekamp just confirming the functionality I have planned will cover your use case:

- add/remove a group
- add/remove a device from that target group

[2021-02-22 18:09] brucekamp commented on #192
Perfect!

Thanks,
Bruce Kamp
Windows Administrator
P: 817-352-1372

From: Grant Curell <notifications@github.com>
Sent: Monday, February 22, 2021 12:08 PM
To: dell/OpenManage-Enterprise <OpenManage-Enterprise@noreply.github.com>
Cc: Kamp, Bruce D <Bruce.Kamp@BNSF.com>; Mention <mention@noreply.github.com>
Subject: Re: [dell/OpenManage-Enterprise] OME Support Assist powershell plugin example (#192)

[2021-03-01 04:13] markatdxb commented on #21
@grantcurell - again sorry for delay testing your code. seems to be working as you developed it. It goes and pulls the configuration details of the specific idrac(s) which are part of specific OME group.  Unfortunately i just figured out that this is just a first of the story.
Second part is that when i look at the configuration compliance baseline after getting configuration inventory , it shows

[2021-03-01 16:01] grantcurell commented on #21
Hmmm I'm kind of tracking? I have had to fix instances where compliance shows as unknown (the gray question mark) but I'm not entirely sure where in the update process that's happening for you. If you're game, we can hop on a quick Zoom or something. You can shoot me an e-mail at grant_curell (at) dell (dot) com

If not no big deal - if you shoot me some screenshots of what's happening I'll probab

[2021-03-01 16:04] grantcurell commented on #192
Haven't forgotten this. Was out last week working on a different project. Working on this right now.

[2021-03-01 16:20] ChrisSteinbeisser commented on #192
Perfect!
From: Grant Curell <notifications@github.com>
Sent: Monday, March 1, 2021 10:05 AM
To: dell/OpenManage-Enterprise
Cc: Steinbeisser, Chris; Mention
Subject: Re: [dell/OpenManage-Enterprise] OME Support Assist powershell plugin example (#192)

[EXTERNAL EMAIL]

Haven't forgotten this. Was out last week working on a different project. Working on this right now.

—
You are receiving this beca

[2021-03-02 18:51] grantcurell opened #210 "Need to extend generate_docs.py to cover cases where a powershell file exists for a plugin but no Python"

[2021-03-02 23:29] #192 closed

[2021-03-02 23:30] grantcurell commented on #192
@brucekamp - the code is complete. The docs are available here: https://github.com/dell/OpenManage-Enterprise/blob/master/docs/API.md#invoke-manage-supportassist-groups

[2021-03-02 23:36] grantcurell commented on #192
If you run into any problems feel free to open a ticket on it!

[2021-03-02 23:36] grantcurell commented on #192
If you run into any problems feel free to reopen this ticket!

[2021-03-03 16:48] #210 closed

[2021-03-04 13:49] markatdxb opened #214 "Initiate idrac configuration compliance"
Hello,

I'm looking for a way to "MAKE COMPLIANT" a single idrac with assigned configuration template baseline using the code.  Its not about the firmware compliance but configuration compliance.
Important would be option to target only specific idrac(s).

Thanks

[2021-03-25 13:37] TrevorSquillario opened #218 "Add ability to stage for next reboot to firmware update scripts"
This is a common use case to stage the firmware to be updated on the next reboot. It's often used in conjunction with VUM that will do it's updates then reboot the host. This gives you the ability to do OS and firmware updates in one reboot.

We can see how this is implemented in the PowerShell Module using the stagingValue attribute https://github.com/dell/OpenManage-PowerShell-Modules/blob/main/

[2021-04-01 19:18] #218 closed

[2021-04-01 19:29] TrevorSquillario commented on #218
Thanks! I'll kick the tires on this one.

[2021-04-01 20:45] grantcurell commented on #218
np!

[2021-04-07 00:48] sg142 opened #220 "-IdracIps csv file"
Trying to input the idrac ip’s using csv instead of entering them in the command line. I tried using csv file and gave the path but it is failing.

.\Add-DeviceToStaticGroup.ps1' -IpAddress 192.168.1.93 -Credentials $creds -GroupName 'YourGroup' -IdracIps
    '192.168.1.45,192.168.1.63' -UseDiscoveryJobId 14094

[2021-04-07 17:57] grantcurell commented on #220
@sg142 what command are you using to run it and what's the output? (I recognize all those IPs as my own so I assume it's not those 😀)

[2021-04-07 18:01] sg142 commented on #220
Oops.. I pasted incorrect command.. Here it is
.\ADD-DeviceToStaticGroup.ps1 -IpAddress '10.xx.xx.xx' -Credentials $creds -GroupName 'test01' -IdracIps 'C:\Users\Administrator\Documents\OME_test\ansfile2.csv'  -UseDiscoveryJobId 38174

Write-Error: Exception occured at line 311 - Cannot process argument transformation on parameter 'DeviceIdracIp'. Cannot convert value "C:\Users\Administrator\Docum

[2021-04-07 18:18] grantcurell commented on #220
It looks like you're passing a CSV file to idrac ips. You can see the help page for a script with `get-help .\Add-DeviceToStaticGroup.ps1 -Detailed`. `-IdracIps` does not accept a file.

![image](https://user-images.githubusercontent.com/35169230/113914953-24a69c80-97ac-11eb-91f5-828b907e89fd.png)

[2021-04-08 14:36] grantcurell commented on #220
I'm going to close this but feel free to reopen it if that didn't answer your question!

[2021-04-08 14:36] #220 closed

[2021-06-01 10:07] elikkayaemircan opened #221 "update_firmware_using_catalog.py does not initiate the update job"
https://github.com/dell/OpenManage-Enterprise/blob/4c9121a794268f648c16a80e72eedea390377201/Python/update_firmware_using_catalog.py#L209

Dear All,

I use update_firmware_using_catalog.py to update the specified hosts with Service Tags. I run the command below and the update job does not start.

[code]

After I check the OME, I see the created baseline which is named "Dell baseline update:2021:06:

[2021-06-22 14:50] sg142 opened #222 "Add-DeviceToStaticGroup.ps1"
Add-DeviceToStaticGroup.ps1  is taking longer time to add servers into the static group.

[2021-06-22 15:00] sg142 opened #223 "Invoke-DiscoverDevice.ps1"
chassis ips, Right now we need to call them separately in the command line. Is there a way to run them including in the -idracips

[2021-06-22 15:08] RaajeevKalyan commented on #222
Please add some more detail -

What version of OME are you using? Was it recently upgraded etc before you started seeing issues?

What were prior metrics for adding servers into a static group for comparison?

Have you tested out the API independent of the script and have timings that seem different?

[2021-06-22 15:23] RaajeevKalyan commented on #221
Can you provide some detail on what version of OME you are using that manifests this problem?

[2021-06-22 16:00] sg142 commented on #222
OME Version 3.5.0 (Build 60)
I just started using it month ago- have same issue
I haven't tested API independent. can you please share that info?

[2021-06-23 04:14] RaajeevKalyan commented on #222
The API to use would be a POST on /api/GroupService/Actions/GroupService.AddMemberDevices

Payload would be similar to below except with the group id / device ids you are interested in (Group Id will be derived from a GET on /api/GroupService/Groups and Device IDs from a GET on /api/DeviceService/Devices)

{
 "GroupId": 100,
 "MemberDeviceIds" : [1414, 1464, 1214, 1264]
}

[2021-06-23 07:35] elikkayaemircan commented on #221
I forgot to mention that. I use OpenManage Enterprise Version 3.5.0 (Build 60)

[2021-09-07 18:34] alfredocolon commented on #101
I'm working a project to query alerts based on date/time, so this Issue is of importance to me.  @grantcurell, would it help if I as a Dell customer opened a support ticket regarding this?  I note that this was opened nearly a year ago and still hasn't been addressed.  Or am I wrong?

[2021-09-07 18:58] RaajeevKalyan commented on #101
This seems to be incorrectly documented - the response for an Alert should indicate a single field for the timestamp demarcated by TimeStamp. One should be able to filter on this - from what I remember only the ge/le operators were implemented and not gt/lt. An example is below with a basic GET on all Alerts showing 362 alerts

https://<redacted ip>/api/AlertService/Alerts
 "@odata.context": "/api

[2021-09-08 17:04] alfredocolon commented on #101
Thanks @RaajeevKalyan - Have you any idea when the PS script will be updated to incorporate the findings in your post?

[2021-09-08 21:49] grantcurell commented on #101
Done

[2021-09-08 21:51] grantcurell commented on #101
@RaajeevKalyan - do you

[2021-09-08 21:51] #101 closed

[2021-09-09 12:34] #222 closed

[2021-09-09 12:34] #223 closed

[2021-09-09 13:58] alfredocolon commented on #101
Thank you very much, @grantcurell and @RaajeevKalyan

[2021-09-13 11:37] jzcmyz commented on #194
Having feature parity in Powershell is important to me.
Updating using a CIFS share would make my job easier.

[2021-10-14 18:56] #221 closed

[2021-10-21 13:22] grantcurell opened #228 "OME Bug: OME does not correctly handle URLs passed with arguments with paging"
## OME Version

3.7.0 (Build 82)
Note: In the process of upgrading but it is unlikely the upgrade will address this problem.

## Description

OME Does not correctly handle the @odata.nextLink attribute for /api/DeviceService/Devices when passed specific IDs. For example:

https://<IP>/api/DeviceService/Devices?Id=13878,16669,16697,16698,16700,16701,16705,16707,16711,16712,16803,16846,16852,16975,1

[2022-04-15 03:42] coconut429 opened #233 "get_group_by_device.py Syntax Error"
File "get_group_by_device.py", line 60

    def authenticate(ome_ip_address: str, ome_username: str, ome_password: str) -> dict:

                                   ^

SyntaxError: invalid syntax

[2022-04-15 05:08] grantcurell commented on #233
Just double checking - this is on Python 3 correct? Looks like that syntax error is pointing at the type definition.

[2022-04-15 06:09] coconut429 commented on #233
python 2.7.5

我試過之前的 get_group_list 都可以執行

如果需要用Python 3 我就去找環境

Grant Curell ***@***.***> 於 2022年4月15日 週五 下午1:09寫道：

[2022-04-15 06:27] coconut429 commented on #233
使用python3 是可以執行的

Jeff Yeh ***@***.***> 於 2022年4月15日 週五 下午2:09寫道：

[2022-04-20 18:25] bolous1 opened #234 "Invoke-ReportExecution script - Column order"
Hello,

I'm new here and I would like to take a moment to say thank you for what you have been doing to date, excellent scripts.

I am currently executing the "Invoke-ReportExecution" script on my OME appliance against a custom report and I happen to notice the export csv file the headers don't line up what's on the report builder. This also the case with if I run the canned report "Software Compo

[2022-04-25 09:14] stappel opened #235 "Get-DeviceList.ps1 is missing $type"
In the function Get-Data() a variable $type is used but not declaired.
I think a line should be added:
`$Type = "application/json"`

[2022-05-12 17:59] #233 closed

[2022-11-11 22:31] TrevorSquillario commented on #234
Checkout the Invoke-OMEReport commandlet in the PowerShell module. I believe I fixed this issue over there.

https://github.com/dell/OpenManage-PowerShell-Modules

[2022-11-11 22:32] TrevorSquillario commented on #235
Checkout the Get-Device commandlet in the PowerShell module.

https://github.com/dell/OpenManage-PowerShell-Modules